body {
	background-color: ccc;
		font-family: 'Open Sans', sans-serif;
		font-size: 1rem;
}

#grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-content: center;
	align-items: center;
	background-color: #100030;
	border-radius: 50px;
	padding: 100px;
	color: white;
	gap: 100px;
	
}

h1 {
	grid-column: 1 / 3;
	text-align: center;
}

#text-result p {
	font-size: 1.5rem;
	color: #c3bfdb;
}

button:hover {
	cursor: pointer;
}
label {
	text-transform: uppercase;
	font-size: 0.8rem;
	color: #c3bfdb;
	font-weight: bold;
}

button { 
	background-color: #f050f8;
	border: 2px solid #f050f8;
	font-size: 1.5rem;
	color: white;
	padding: 15px 30px;
	border-radius: 5px;
	color:#100030;
}

p span {
	color: #f050f8;

}


input {
	display: block;
	border: 0px;
	padding: 15px;
	border-bottom-style: solid;
	border-bottom-color: rgb(197, 197, 197);
	border-bottom-width: 2px;
	width: 100%;
	background-color: #100030;
	color: rgb(197, 197, 197);
	font-size: 2rem;
	box-sizing: border-box;
}


input:focus {
	outline:none;
	color:white;
	border-bottom-color: white;
}