// Dark Mode Colors (Default)

$base: #100030;
$highlight: #13d1d1;
$background: #180048;
$light_text: #e2def9;

body {
	background-color: $background;
}

#grid {
	background-color: $base;
	color: $light_text
}

lebel {
	color: $light_text;
}

#text-result {
	p {
		color: $light_text;
	}
}

button { 
	background-color: $highlight;
	border: 2px solid $highlight;
	color:$base;
}

input {
	border-bottom-color: $light_text;
	background-color: $base;
	color: $light_text;
}

input:focus {
	color:white;
	border-bottom-color: white;
}

p span {
	color: $highlight;
	font-size: 2rem;
}

#results-container tr:nth-child(odd) {
	color: $light_text;
	background-color: $base;
}

#results-container tr:nth-child(even) {
	color: $light_text;
} 

#results-container > tr:first-child {
	background-color: $highlight;
	color: $base;
}


// Light Mode Colours

$base_light: #f5f5f5;
$highlight_light: #13d1d1;
$background_light: #d9d9d9 ;
$dark_text: #212121;


body.light-theme {
	background-color: $background_light;
}

body.light-theme  #grid {
	background-color: $base_light;
	color: $dark_text
}

body.light-theme lebel {
	color: $dark_text;
}

body.light-theme #text-result {
	p {
		color: $dark_text;
	}
}

body.light-theme button { 
	background-color: $highlight_light;
	border: 2px solid $highlight_light;
	color:$dark_text;
}

body.light-theme input {
	border-bottom-color: $dark_text;
	background-color: $base_light;
	color: $dark_text;
}

body.light-theme input:focus {
	color:black;
	border-bottom-color: black;
}

body.light-theme p span {
	color: $highlight_light;
	font-size: 2rem;
}

body.light-theme #results-container tr:nth-child(odd) {
	color: $dark_text;
	background-color: $base_light;
}

body.light-theme #results-container tr:nth-child(even) {
	color: $dark_text;
} 

body.light-theme #results-container > tr:first-child {
	background-color: $highlight_light;
	color: $dark_text;
}


body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 1rem;
	margin: 20px;
}

#switch-theme-button {
	font-size: 0.8rem;
	padding: 1em;
	margin: 1em 0 1em 1em;
	float: right;
}

.contaienr {
	display:flex;
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

#grid {
	display: grid;
	align-content: center;
	align-items: center;
	border-radius: 50px;
	padding: 50px 30px;
	column-gap: 100px;
	row-gap: 20px;
	max-width: 1200px;
	margin: 0 auto;
	clear: both;
}
h1 {
	text-align: center;
}

#text-result  {
	p {
		font-size: 1.5rem;

	}
}

button:hover {
	cursor: pointer;
}
label {
	font-size: 0.9rem;
	font-weight: normal;
}

button { 
	font-size: 1.5rem;
	padding: 15px 30px;
	border-radius: 10px;
}

p span {
	font-size: 2rem;

}


input {
	display: block;
	border: 0px;
	padding: 15px;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	width: 100%;
	font-size: 2rem;
	box-sizing: border-box;
}


input:focus {
	outline:none;
}

#results-container {
	border-spacing: 0px;
	padding: 30px 0px;
	margin:0 auto;
	text-align: center;
}

#results-container th, td {
	padding: 8px 10px;

}

#results-container > tr:first-child {
	padding: 5px;
	font-weight: 800;
}

#results-container th:first-child {
	border-radius: 10px 0 0 10px;
}

#results-container th:last-child {
  	border-radius: 0 10px 10px 0;
}

@media (min-width: 800px)  {
	#grid {
		grid-template-columns: 1fr 1fr;
		padding: 50px 100px 100px 100px;
	}
	
	h1 {
		grid-column: 1 / 3;
	}
	
	#results-container {
		padding: 100px;

	}
	
	#results-container th, td {
		padding: 10px 30px;
	
	}
	
}